*{
	margin: 0;
    font-family: Monospace,sans-serif;
}
a {
   text-decoration: none; 
}
.topMenu{
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}
.siteLogo{
	margin-top: 50px;
}
.siteTitle{
    height: 130px;
	margin: 0;
    display: block;
    text-align: center;
}
.teaWallpaper{
    background: url(Images/Tea_Loose.jpg);
    background-repeat: round;
    display: block;
    height: 220px;
    width: 100%;
}
.navBar{
    margin: 5px;
	margin-bottom: 20px;
    display: inline-block;
	padding-left: 120px;
	padding-right: 120px;
}
.navBar li{
    display: inline;
    padding: 5px;
}
.navBar li a{
	text-decoration: none;
	color: black;
}
.mainView{
	padding-left: 120px;
	padding-right: 120px;
	margin-top: 10px;
	width: 100%;
}
.filters{
	margin: 5px;
	margin-left: 10px;
}
.teaImg{
    height: 150px;
    width: 150px;
}
.teaItem{
    display: block;
    float: left;
    padding: 10px;
    height: 400px;
	align-content: center;
}
.about{
	margin-left: 60px;
}
.teaFlowerImg{
	background: url(Images/Tea-Flowers-Wallpaper.jpg);
    background-repeat: round;
    display: inline-block;
    height: 270px;
	width: 400px;
}
.teaCupImg{
	background: url(Images/Tea_Cup.jpg);
    background-repeat: round;
    display: inline-block;
    height: 250px;
	width: 400px;
	margin-bottom: 5px;
}
