<div class="checkboxFilter panel panel-default col-md-2">
  <div class="panel-heading">
    <h3 class="panel-title">Filter By Type:</h3>
  </div>
  <div class="panel-body">
    <div class="checkbox" ng-repeat="teaType in teaTypes">
		<label>
			<input type="checkbox" ng-model="typeFilter[teaType.name]" />
			{{teaType.name}}
		</label>
	</div>
  </div>
<div class="panel-heading">
    <h3 class="panel-title">Filter By Caffeine Level:</h3>
  </div>
  <div class="panel-body">
    <div class="checkbox" ng-repeat="caffeineLvl in caffeineLevels">
		<label>
			<input type="checkbox" ng-model="caffeineFilter[caffeineLvl.key]" />
			{{caffeineLvl.value}}
		</label>
	</div>
  </div>
</div>
<div class="col-md-8">
	<div class="filters form-inline">
		Search by name:
		<input class="form-control" type="text" ng-model="searchText"/>
		<select class="form-control" ng-model="orderbyfilter">
			<option selected value="">select filter</option>
			<option value="+price">price - low to high </option>
			<option value="-price">price - high to low</option>
		</select>
	</div>
	<div class="items">
		<tea-item ng-repeat="tea in (teas | filter:{name:searchText} | filter:filterByTeaType | filter:filterByCaffeineLevel | orderBy:orderbyfilter) as filteredTeas" tea="tea" add-to-cart="addToCart" show-price="showPrice">
		</tea-item>
		<h4 class="searchResultErr" ng-if="!filteredTeas.length">There are no matched items</h4>
	</div>
</div>