<div class="narrow">
	<h3 class="cartTitle" ng-if="cartItems.length">SHOPPING CART</h3>
	<tea-item ng-repeat="tea in cartItems" tea="tea.item" add-to-cart="addToCart" show-price="showPrice">
		<div class="qtyWrap">
			<lable>Quantity:</lable>
			<input class="qty" type="number" min="1" max="100" ng-change="updateQty(tea)" ng-model="tea.qty"/>
		</div>
		<h5> Total: {{tea.item.price * tea.qty | currency}}</h5>
		<button class="btn btn-default" ng-click="removeItem(tea)">Remove</button>
	</tea-item>
	<h3 class="cartTitle" ng-if="cartItems.length"> TOTAL: {{ getTotalPrice() | currency}}</h3>
	<button class="Checkout btn btn-default">Checkout Now</button>
	<h3 ng-if="!cartItems.length">You have no items in your shopping cart.</h3>
</div>